.u
  &-color-primary
    color: $primary

  &-color-secondary
    color: $secondary

  &-color-success
    color: $success

  &-color-info
    color: $info

  &-color-warning
    color: $warning

  &-color-danger
    color: $danger

  &-color-gray
    color: $gray

  &-color-light
    color: $light

  &-color-slategray
    color: $slategray

  &-font-bold
    font-weight: $font-weight-bold

  &-font-bolder
    font-weight: 800

  &-font-uppercase
    text-transform: uppercase

  &-font-tiny
    font-size: $font-tiny

  &-font-small
    font-size: $font-small

  &-font-normal
    font-size: $font-normal

  &-font-large
    font-size: $font-large

  &-font-massive
    font-size: $font-massive

  &-text-center
    text-align: center

  &-block
    display: block

  &-divider
    height: 1px
    background: $light
    display: block
    width: 100%

  &-m-0
    margin: 0 !important

  &-mb-0
    margin-bottom: 0 !important

  &-mt-tiny
    margin-top: 4px !important

  &-mb-tiny
    margin-bottom: 4px !important

  &-mt-small
    margin-top: 16px !important

  &-mb-small
    margin-bottom: 16px !important

  &-mt-normal
    margin-top: 40px !important

  &-mb-normal
    margin-bottom: 40px !important

  &-mt-large
    margin-top: 64px !important

  &-mb-large
    margin-bottom: 64px !important

  &-mt-massive
    margin-top: 80px !important

  &-mb-massive
    margin-bottom: 80px !important

  &-flex-start
    display: flex
    align-items: start

    +mq($until: 'mobile')
      flex-wrap: wrap

  &-flex-center
    display: flex
    align-items: center

    +mq($until: 'mobile')
      flex-wrap: wrap