.AppWidget1
  &-item
    display: flex
    align-items: center
    padding: 1em 0

    &:not(:last-child)
      border-bottom: 1px solid $light

    &-header
      flex: 1 1 1%

.AppWidget2
  padding: 1em 0

.AppWidget3
  &-item
    display: flex
    align-items: center

    &:not(:last-child)
      margin-bottom: 1em

    &-body
      flex: 1 1 0%
      padding: 0 1em
