body
  .quillWrapper
    .ql-toolbar.ql-snow
      border: $border solid $gray
      border-radius: $border-radius $border-radius 0 0

    .ql-container.ql-snow
      border-color: $gray
      border-radius: 0 0 $border-radius $border-radius
